<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.jwc.mapper.JobMapper">
    <resultMap id="BaseResultMap" type="com.ld.jwc.bean.Job">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="company" property="company" />
        <result column="job_name" property="jobName" />
        <result column="organizer" property="organizer" />
        <result column="action_time" property="actionTime" />
        <result column="extra" property="extra" />
        <result column="record_status" property="recordStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, address, email, company, job_name, organizer, action_time, extra, record_status, created_at, updated_at
    </sql>

    <select id="getAllJobs" resultMap="BaseResultMap">
        select * from job where record_status = 0
    </select>

    <select id="getJobsByUid" resultMap="BaseResultMap">
        select * from job where record_status = 0 and uid = #{uid}
    </select>

    <insert id="addJob" parameterType="com.ld.jwc.bean.Job">
        insert into job (uid, address, email, company, job_name, organizer, action_time, extra)
        values (#{uid}, #{address}, #{email}, #{company}, #{jobName}, #{organizer}, #{actionTime}, #{extra})
    </insert>
</mapper>