<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.jwc.mapper.ScoreMapper">
    <resultMap id="BaseResultMap" type="com.ld.jwc.bean.TotalScore">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="class_num" property="classNum" />
        <result column="class_name" property="className" />
        <result column="no_id" property="noId" />
        <result column="credit" property="credit" />
        <result column="exam_time" property="examTime" />
        <result column="grade" property="grade" />
        <result column="record_status" property="recordStatus" />
        <result column="term" property="term" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, class_num, class_name, no_id, credit, exam_time, grade, record_status, term, created_at, updated_at
    </sql>

    <select id="getAllScoreByUid" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from total_score
        where uid=#{uid}
    </select>
    <select id="getBjgScore" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from total_score
        where uid=#{uid} and grade &lt; 60
    </select>
    <select id="getScoreByTerm" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from total_score
        where term = #{term} and uid = #{uid}
    </select>

    <insert id="addNewGrade" parameterType="com.ld.jwc.bean.TotalScore">
        insert into total_score (uid, class_num, class_name, no_id, credit, exam_time, grage, term)
        values (#{uid}, #{classNum}, #{className}, #{noId}, #{credit}, #{examTime}, #{grade}, #{term})
    </insert>

    <update id="deleteScoreByClassNum" parameterType="java.lang.String">
        update total_score set record_status=1 where class_num=#{classNum}
    </update>

</mapper>