<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.jwc.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ld.jwc.bean.User">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="college" property="college"/>
        <result column="major" property="major"/>
        <result column="user_type" property="userType"/>
        <result column="record_status" property="recordStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, username, password, college, major, user_type, reocrd_status, created_at, updated_at
    </sql>
    <select id="getAllUser" resultType="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where record_status = 0
    </select>
    <select id="getAllUserByStatus" resultType="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user where record_status = #{recordStatus}
    </select>
    <select id="getInfoByUid" resultType="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user where uid=#{uid}
    </select>
    <select id="getCountByName" resultType="java.lang.Integer">
        select count(1) from user where username=#{username}
    </select>

    <insert id="addUser" parameterType="com.ld.jwc.bean.User">
        insert into user (uid, username, password, college, major, user_type)
        values (#{uid}, #{username}, #{password}, #{college}, #{major}, #{userType})
    </insert>

    <update id="updateUserTypeByUid">
        update user set user_type=#{userType} where uid=#{uid}
    </update>

    <update id="updateRecordStatusByUid">
        update user set record_status=#{recordStatus} where uid=#{uid}
    </update>
</mapper>